.auth-nav {
    display: flex;
    margin-left: auto;
    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }

    &__link {
        display: flex;
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
        transition: color var(--hover-timing);
    }

    &__item+.auth-nav__item {
        margin-left: 50px;
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    .contacts-link {
        display: flex;
        align-items: baseline;
    }
}