.header {
  color: var(--section-title-colot);
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header>.container {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.logo__icon {
  margin-right :auto;
  @media screen and (min-width: 1200px) {
    margin-right: 93px auto;
  }
}
